.update-profile-btn{
  background-color: #1a77a3;
    color: white;
    font-weight: bold;
}
.profile-section{
    padding: 8px;
    border-radius: 6px;
}

.col-md-16{
  margin-top: -60%;
  width: fit-content;
}

@media (max-width: 900px) {
    .profile-section{
        box-shadow: 2px 2px 8px rgb(90, 87, 87);
    }
}
.form-label {
    text-align: right;
  }
  .update-profile-btn{
    background-color: gray;
  }
  .custom-label {
    display: inline-block;
    width: 500px;
    text-align: left;
  }
  