.bookings-div{
    width: 80%;
}
.booking-list-div{
    background-color: white;
    width: 80%;
    box-shadow: 2px 2px 8px rgb(127, 122, 122);
    border-radius: 8px;
    padding: 6px;
    margin: 5px;
}
.booking-schedule-details{
width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking-flight-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-passenger-details{
    margin-bottom: 0;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    background-color: #eceff0;
}
.date-seat-div{
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

@media (max-width: 900px) {
    .bookings-div{
        width: 100%;
    }
    .booking-list-div{
        width: 100%;
    }
    .booking-schedule-details{
        flex-direction: column;
        }
}
.delete-user-btn{
    background-color: red;
    margin-left: -30px;
}
.download-ticket-button {
    background-color: #f6de63; /* Blue background color */
    color: black; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 13px; /* Font size */
    margin-left: 10px;
    height: 10%;
  }
  
  .download-ticket-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

  