
.get-flight-div{
    margin-top: -580px;
}
.flight-list-div{
    width: 100%;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(69, 67, 67, 0.5);
    background-color: white;
    border-radius: 3px;
}
.flight-list{
    display: flex;
    justify-content: space-between;
}
.get-allflight-btn{
  width: 30%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(145, 143, 143);
}
.airline{
    display: flex;
}
.airline h3{
    margin: 10px;
}
.airline-logo{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.flight-number{
    margin-top: 10px;
    margin-right: 10px;
}
.other-detail-div{
    display: flex;
    justify-content: space-between;
}
.total-seats,.base-price,.status{
    margin: 10px;
    font-size: 18px;
}

.detail-btn{
    width: 15%;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(178, 255, 178);
}

.flight-detail-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 150%;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(145, 143, 143);
  }
  
  .flight-airline-detail,
  .seat-detail-div,
  .price-detail-div {
    flex: 1;
    margin-right: 10px; 
  }
  
  .flight-airline-detail {
    display: flex;
    align-items: center;
  }
  
  .airline {
    display: flex;
    align-items: center;
  }
  
  .airline h3 {
    margin-left: 10px; /* Adjust margin as needed */
  }
  
  .flight-number {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  

@media (max-width: 900px) {
    .flight-list-div{
        width: 90%;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: gold;
    border: 1px solid #dee2e6;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #e9ecef;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  