download-ticket-btn {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .download-ticket-btn:hover {
    background-color: #0056b3;
  }
  .booking-list-div1{
    width: 150%;
    margin-left: -10%;
  }

  @media (max-width: 900px){
    .get-bookings-div{
      width: 90% !important; 
      height: auto !important; /* Reset height to auto */
      margin: 10px 0; /* Adjust margin for spacing */
    }
    .booking-passenger-details{
      width: 75% !important;
      margin-left: 10% !important;
      gap: 29px !important;
    }
    .booking-schedule-details{
      width: 75% !important;
      margin-left: 10% !important;
    }
    #pagi-id{
      margin-left: 100px !important;
    }
    .flight-detail-1{
      display: flex;
      gap: 20px !important;
      font-weight: bold;
    }
    .airline-logo{
      margin-top: -5px !important;
      width: 56px !important;
      height: auto !important;
    }
  }