
.container-body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.sidebar{
    background-color: white;
    border-color: white;
    box-shadow: none;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.sidebar-container{
    background-color: white;
    border-color: white;
    box-shadow: none;
    margin-top: 30%;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-container1{
    background-color: white;
    border-color: white;
}
.sidebar-options{
    width: 60%;
    height: 50%;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
.sidebar-options:hover{
    cursor: pointer;
}
.container-main{
    background-color: white;
    margin-top: 19%;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-flight,.add-flight,.update-flight,.delete-flight{
    margin-top: -700px;
    margin-right: -600px;
    width: 60%;
}

.update-flight{
    height: 50%;
}

@media (max-width: 900px) {
    #manage-flight-sidebar{
        display: none;
        width: 100%;
    }
    .get-flight,.add-flight,.update-flight,.delete-flight{
        width: 100%;
    }

    #account-sidebar{
        width: 90% !important;
        margin-left: 40% !important;
    }

    .sidebar-container{
       width: 120% !important;
    }

    .add-flight-div{
        margin-left: -75% !important;
        width: 20%;
    }
    .delete-flight-div{
        margin-left: -75% !important;
        width: 90% !important;
    }
    .update-flight-div{
        margin-left: -75% !important;
        width: 100% !important;
        gap: 20px !important;
    }
    .get-flight-div{
        margin-left: -75% !important;
        width: 105% !important;
        height: auto !important;
    }
    .flightnumber-input-div label,
    .seats-input-div label,
    .status-input-div label,
    .airline-input-div label {
        margin-left: -11% !important; 
        display: block; /* Display labels as block elements */
        text-align: left; /* Align text to the left */
  }

  .flightnumber-input-div select,
  .status-input-div  select,
  .airline-input-div input,
  .seats-input-div input[type='number'] {
    /* Styles for inputs */
    width: 100%; /* Make inputs fill the available width */
    margin-right: -17% !important;  
    margin-top: 5px !important;
  }

  .status-input-div label{
    margin-top: 10% !important;
  }
    
}