.get-User,.get-flightOwner{
    height: 100%;
    width: 100%;
}
.sidebar-option{
    width: 60%;
    height: 20%;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    background-color: #c7e4f9;
    box-shadow: 2px 2px 14px rgb(216, 205, 205);
}
.sidebar-option:hover{
    cursor: pointer;
    background-color:#9ad2fb;
}

@media (max-width: 900px) {
    
    .options-div{
        display: block;
    }

    .sidebar-options{
        width: 90% !important;
        height:  auto;
    }

    .account-sidebar{
        width: 120% !important;
        margin-left: 30% !important;
    }

    .sidebar-container{
       width: 120% !important;
    }

    .user-list-div{
        font-size: 16px;
        width: 150% !important;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
    }

    .user-row{
        width: 280% !important;
    }

    .flightOwner-list-div{
        font-size: 16px;
        width: 130% !important;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        margin-right: -20% !important;
    }

    .delete-user-btn{
        
    }
}